html,body,p,code:before,table{color:#aaa!important}
.vouch_modal .modal_only{display:block!important}
form textarea{width:100%;box-sizing:border-box}
a:active,a:hover,a:link,a:visited{text-shadow:1px 1px 2px rgba(0,0,0,.18)}
.flex-one{flex:1}
.d-flex{display:flex!important}
.text-center{text-align:center!important}
#container,body{color:#AAA;line-height:1.4;margin:0;font-size:13px;font-family:Roboto,sans-serif}
.forum_off i,.subforum_minioff{opacity:.4}
.red_alert,.tfixed{word-wrap:break-word}
.pagination a,div.error,fieldset{box-shadow:0 1px 3px rgba(0,0,0,.06),0 1px 2px rgba(0,0,0,.12)}
#search,.expcolimage,.pagination_breadcrumb_link,.smilie{vertical-align:middle}
#footer,#panel .upper,.clear{clear:both}
.ie6.top-left,.ie6.top-right{top:expression((0 + (ignoreMe=document.documentElement.scrollTop ? document.documentElement.scrollTop:document.body.scrollTop)) + 'px')}
#container,.codeblock code,.jGrowl,body,select,textarea{font-family:Roboto,sans-serif}
body{background:url(https://cracked.to/images/background2.png);text-align:center;overflow-y:scroll}
a:link,a:visited{text-decoration:none;color:#fff}
a:active,a:hover{text-decoration:underline;color:#b2b2b2}
#container{text-align:left}
#logo{padding:10px 0;border-bottom:1px solid #263c30}
#content{width:auto!important;padding:0 10px;overflow:hidden}
#header ul.menu{margin:0;padding:0;list-style:none}
#header ul.menu li{margin:0 7px;display:inline}
#header ul.menu li a{padding-left:20px;background-image:url(../../../images/headerlinks_sprite.png);background-repeat:no-repeat;display:inline-block;line-height:16px}
#logo ul.top_links{font-weight:700;text-align:right;margin:-10px 5px 0 0}
#logo ul.top_links a.search{background-position:0 0}
#logo ul.top_links a.memberlist{background-position:0 -20px}
#logo ul.top_links a.calendar{background-position:0 -40px}
#logo ul.top_links a.help{background-position:0 -60px}
#logo ul.top_links a.portal{background-position:0 -180px}
#panel .upper a.logout{font-weight:700;background:url(../../../images/headerlinks_sprite.png) right -80px no-repeat;padding-right:20px;margin-left:10px}
#panel .upper a.login,#panel .upper a.lost_password{background:url(../../../images/headerlinks_sprite.png) 0 -100px no-repeat;padding-left:20px;margin-left:10px;font-weight:700}
#panel .upper a.register{background:url(../../../images/headerlinks_sprite.png) right -80px no-repeat;padding-right:20px;margin-left:10px;font-weight:700}
#panel .lower ul.panel_links{float:left}
#panel .lower ul.user_links,#search{float:right}
#panel .lower ul.panel_links a.usercp{background-position:0 -120px}
#panel .lower ul.panel_links a.modcp{background-position:0 -140px}
#panel .lower ul.panel_links a.admincp{background-position:0 -160px}
#panel .lower ul.user_links li a{padding:0;background-image:none}
#panel .upper{background:#262626;height:45px;line-height:45px;color:#fff}
#panel .upper a:active,#panel .upper a:hover,#panel .upper a:link,#panel .upper a:visited{color:#fff}
#panel .lower{color:#999;padding:5px}
#panel .lower a:active,#panel .lower a:hover,#panel .lower a:link,#panel .lower a:visited{color:#666}
#search{border:0;padding:0;margin:0}
#search input{margin:-3px 0}
#quick_login .remember_me input{vertical-align:middle;margin:-3px 0 0 5px}
#footer ul.menu{margin:0;padding:0;list-style:none}
#footer ul.menu li{margin:0 5px;display:inline}
#footer .upper .language,#footer .upper .theme{float:right;margin:-1px -1px -1px 15px}
#footer .upper{background:#efefef;border-top:1px solid #bbb;border-bottom:1px solid #bbb;padding:6px;font-size:12px;overflow:hidden}
#footer .upper .language select,#footer .upper .theme select{border-color:#ccc}
#footer a:active,#footer a:hover,#footer a:link,#footer a:visited{color:#777}
#footer .upper ul.bottom_links{float:left;margin:4px 0 0}
#footer .lower{color:#666;padding:6px 6px 12px;overflow:hidden;font-size:11px}
#footer .lower a:link,#footer .lower a:visited{color:#fff}
#footer .lower a:active,#footer .lower a:hover{color:#b2b2b2}
#footer .lower #current_time{float:right;color:#888}
#debug{font-size:11px}
.scaleimages img{max-width:100%}
.forum_status{height:50px;width:50px;font-size:23px;text-align:center}
.forum_status svg{margin-top:10px}
.forum_status i{display:inline-block;line-height:50px}
.forum_on{color:#386b8d}
.forum_off,.forum_offlink,.forum_offlock{color:#333}
.forum_offlock i:before{content:"\f023"}
.forum_offlink i:before{content:"\f0c1"}
.ficons_4 i:before{content:"\f0a1"}
.ficons_9 i:before{content:"\f234"}
.ficons_5 i:before{content:"\f27a"}
.ficons_6 i:before{content:"\f187"}
.ficons_8 i:before{content:"\f4b8"}
.ficons_16 i:before{content:"\f091"}
.ficons_14 i:before{content:"\f00d"}
.ficons_12 i:before{content:"\f001"}
.ficons_15 i:before{content:"\f183"}
.ficons_13 i:before{content:"\f11b"}
.ficons_10 i:before{content:"\f165"}
.ficons_11 i:before{content:"\f0c0"}
.ficons_61 i:before{content:"\f059"}
.ficons_64 i:before{content:"\f0a3"}
.ficons_95 i:before{content:"\f2b5"}
.ficons_77 i:before{content:"\f1fc"}
.ficons_79 i:before{content:"\f06b"}
.ficons_65 i:before{content:"\f11b"}
.ficons_24 i:before,.ficons_25 i:before{content:"\f085"}
.ficons_82 i:before{content:"\f1de"}
.ficons_71 i:before{content:"\f007"}
.ficons_22 i:before{content:"\f233"}
.ficons_21 i:before{content:"\f15c"}
.ficons_23 i:before{content:"\f1c0"}
.ficons_20 i:before{content:"\f02d"}
.ficons_19 i:before{content:"\f552"}
.ficons_41 i:before,.ficons_42 i:before,.ficons_43 i:before,.ficons_44 i:before,.ficons_45 i:before{content:"\f121"}
.ficons_136 i:before,.ficons_32 i:before,.ficons_34 i:before{content:"\f1b2"}
.ficons_29 i:before{content:"\f02d"}
.ficons_30 i:before{content:"\f1c9"}
.ficons_31 i:before{content:"\f121"}
.ficons_33 i:before{content:"\f128"}
.ficons_37 i:before,.ficons_76 i:before{content:"\f155"}
.ficons_132 i:before{content:"\f183"}
.ficons_39 i:before{content:"\f0b1"}
.ficons_47 i:before,.ficons_48 i:before,.ficons_49 i:before,.ficons_50 i:before{content:"\f07a"}
.ficons_100 i:before,.ficons_101 i:before,.ficons_102 i:before,.ficons_103 i:before,.ficons_107 i:before,.ficons_84 i:before,.ficons_85 i:before{content:"\f005"}
.ficons_147 i:before{content:"\f1ea"}
.ficons_254 i:before{content:"\f0ac"}
.ficons_260 i:before{content:"\f290"}
.ficons_262 i:before{content:"\f005"}
.ficons_268 i:before,.ficons_269 i:before,.ficons_264 i:before,.ficons_265 i:before{content:"\f3ed"}
.subforumicon{height:10px;width:10px;display:inline-block;margin:0 5px}
.subforum_minion{color:#386B8D}
.subforum_minioff,.subforum_miniofflink,.subforum_miniofflock{color:#a0a0a0}
.subforum_miniofflink i:before,.subforum_miniofflock i:before{content:"\f07b"}
table{color:#AAA;font-size:13px}
.navigation,.tcat,.trow_sep{font-size:12px}
.tborder{width:100%;margin:auto;padding:1px}
.tfixed{table-layout:fixed}
.tcat,.tfoot,.trow_sep{padding:6px}
.thead a:link,.thead a:visited{color:#fff;text-decoration:none}
.thead a:active,.thead a:hover{color:#fff;text-decoration:underline}
.tcat{background:url(../../../images/tcat.png) repeat-x #0f0f0f;color:#fff;border-top:1px solid #444;border-bottom:1px solid #000}
.tcat a:active,.tcat a:hover,.tcat a:link,.tcat a:visited{color:#fff}
.post.unapproved_post,.trow_shaded{background:#ffdde0}
.trow_shaded{border:1px solid;border-color:#fff #ffb8be #ffb8be #fff}
.no_bottom_border{border-bottom:0}
.post.unapproved_post .post_author{border-bottom-color:#ffb8be}
.post.classic.unapproved_post .post_author{border-color:#ffb8be}
.post.unapproved_post .post_controls{border-top-color:#ffb8be}
.post.deleted_post,.trow_deleted{background:#E8DEFF}
.trow_selected,tr.trow_selected td{background:#FFFBD9;color:#333;border-right-color:#F7E86A;border-bottom-color:#F7E86A}
.trow_selected a:active,.trow_selected a:hover,.trow_selected a:link,.trow_selected a:visited{color:#333}
.trow_sep{background:#3a3a3a;color:#b2b2b2;font-weight:700}
.tfoot{border-top:1px solid #fff;background:#ddd;color:#666}
.tfoot a:link,.tfoot a:visited{color:#444;text-decoration:none}
.tfoot a:active,.tfoot a:hover{color:#444;text-decoration:underline}
.thead input.textbox,.thead select{border:1px solid #263c30}
.bottommenu{background:#efefef;color:#333;border:1px solid #4874a3;padding:10px}
.navigation{color:#333}
.navigation a:link,.navigation a:visited{text-decoration:none}
.navigation a:active,.navigation a:hover{text-decoration:underline}
.navigation .active{color:#3a3a3a;font-size:small;font-weight:700}
.smalltext{font-size:13px}
.largetext{font-size:16px;font-weight:700}
select,textarea{font-size:13px;outline:0}
fieldset{padding:12px;border:1px solid #262626;margin:0}
fieldset.trow1,fieldset.trow2,input.textbox{border:1px solid #262626}
fieldset.align_right{text-align:right}
.editor_control_bar,.repbox,.selectall{text-align:center}
input.textbox{padding:9px;outline:0;background:#242424;color:#a0a0a0;border-radius:1px}
input.textbox.portal_search{width:68%}
textarea{background:#fff;color:#333;border:1px solid #ccc;padding:2px;line-height:1.4}
select{background:#202020;padding:6px 10px;color:#A1A1A1;border:1px solid #272727}
form{margin:0;padding:0}
input.error,select.error,textarea.error{border:1px solid #f30;color:#f30}
input.valid,select.valid,textarea.valid{border:1px solid #0c0}
label.error{color:#f30;margin:5px;padding:0;display:block;font-weight:700;font-size:11px}
.hidden,.hiddenrow{display:none}
form #message{width:500px}
.editor{background:#f1f1f1;border:1px solid #ccc}
.post .editor_control_bar{background:#f5f5f5}
.popup_menu{background:#292929;z-index:100;top:auto!important;left:auto!important}
.popup_menu .popup_item{background:#212121;color:#aaa}
.popup_menu .popup_item:hover{background:#3a3a3a;color:#fff}
.trow_reputation_positive{background:#cfc}
.trow_reputation_negative{background:#fcc}
.reputation_positive{color:green}
.reputation_neutral{color:#444}
.reputation_negative{color:red}
.repbox{width:32px;padding:3px 0;margin:-3px -3px -3px 0;border-radius:2px;color:#fff}
._neutral{background:#999}
._minus{background:#CB0200}
._plus{background:#080}
img{border:none}
img.attachment{border:1px solid #E9E5D7;padding:2px}
hr{background-color:#1b1b1b;color:#1b1b1b;height:1px;border:0}
.float_left{float:left}
.float_right{float:right}
.hidden{float:none;width:1%}
.selectall{background:#FFFBD9;border-bottom:1px solid #F7E86A;color:#333}
.codeblock,blockquote{background:#fff;border:1px solid #ccc}
.expcolimage{float:right;width:auto;margin-top:3px}
.tcat_menu>.expcolimage{margin-top:0}
blockquote{margin:0;padding:10px}
.codeblock .title,blockquote cite{border-bottom:1px solid #ccc;margin:0 0 10px}
blockquote cite{font-weight:700;font-style:normal;display:block;padding-bottom:3px}
blockquote cite>span{float:right;font-weight:400;font-size:12px;color:#666}
.red_alert,.red_alert a:active,.red_alert a:hover,.red_alert a:link,.red_alert a:visited{color:#A5161A}
blockquote cite span.highlight{float:none;font-weight:700;padding-bottom:0}
.codeblock{padding:10px}
.codeblock .title{font-weight:700;padding-bottom:3px}
.codeblock code{overflow:auto;height:auto;max-height:200px;display:block;font-size:13px}
.post,.post_controls{overflow:hidden}
.smilie_pointer{cursor:pointer}
.separator{margin:5px;padding:0;height:0;font-size:1px;list-style-type:none}
.popup_menu .popup_item_container{margin:1px;text-align:left}
.popup_menu .popup_item{display:block;padding:7px 10px;white-space:nowrap;text-decoration:none}
.popup_menu a.popup_item:hover{text-decoration:none}
.subject_new{font-weight:700}
.highlight{background:#FFC;padding-top:3px;padding-bottom:3px}
.pm_alert,.red_alert{padding:5px 20px;font-size:12px;text-align:center}
.pm_alert{background:#FFF6BF;border:1px solid #FFD324;margin-bottom:15px;border-radius:2px}
.red_alert{background:#FBE3E4;border:1px solid #A5161A;margin-bottom:5px;border-radius:2px}
.high_warning{color:#C00}
.moderate_warning{color:#F3611B}
.low_warning{color:#AE5700}
.imminent_banned{color:#800}
.high_banned{color:red}
.moderate_banned{color:#F60}
.low_banned{color:green}
.online{color:#15A018}
.offline{color:#C7C7C7}
div.error{padding:5px 10px;font-size:12px;border:1px solid #2A2A2A}
div.error p{margin:0;color:#333;font-weight:400}
.pagination .pages,div.error p em{font-weight:700}
div.error p em{font-style:normal;padding-left:24px;display:block;color:#fff}
div.error ul{margin-left:24px}
.pagination{font-size:11px;padding-top:10px;margin-bottom:15px}
.tcat .pagination,.tfoot .pagination{padding-top:0}
.pagination .pagination_current,.pagination a{padding:8px 16px;margin-bottom:3px;color:#fff;background:#333;border:none;border-radius:2px}
.pagination a{background:#333;border:none;padding:8px 16px;border-radius:2px}
.pagination .pagination_current,.pagination a:hover{background:#386b8d;border:none;padding:8px 16px;box-shadow:0 1px 3px rgba(0,0,0,.06),0 1px 2px rgba(0,0,0,.12)}
.pagination a:hover{color:#fff!important}
.pagination .go_page img{margin-bottom:-4px}
.drop_go_page{background:#333;padding:4px}
.deleted_post_collapsed .show_deleted_post a.button span,.ignored_post .show_ignored_post a.button span{background-position:0 -400px}
.pagination_breadcrumb{background-color:#efefef;border:1px solid #fff;outline:#ccc solid 1px;padding:5px;margin-top:5px;font-weight:400}
.pagination_breadcrumb_link{cursor:pointer}
.thread_legend,.thread_legend dd{margin:0;padding:0}
.thread_legend dd{padding-bottom:4px;margin-right:15px}
.thread_legend img{margin-right:4px;vertical-align:bottom}
.forum_legend,.forum_legend dd,.forum_legend dt{margin:0;padding:0}
.forum_legend dd,.forum_legend dt{margin-right:10px;float:left}
.error_message,.success_message{font-weight:700;font-size:10px;margin-bottom:10px}
.forum_legend dd{margin-top:7px}
.deleted_post_collapsed .show_deleted_post,.ignored_post .show_ignored_post{margin-top:-15px}
.success_message{color:#00b200}
.error_message{color:#C00}
#posts_container{padding:0}
.ignored_post{border-top:3px solid #333;padding:15px}
.deleted_post_hidden{border-top:2px solid #ccc;padding:15px}
.deleted_post_collapsed{border-top:3px solid #333;padding:15px}
.post.classic{padding-top:15px}
.post .post_author{border-bottom:1px solid #ccc;border-top:2px solid #ccc;background:#f5f5f5;padding:5px;overflow:hidden}
.post.classic .post_author{border:1px solid #ddd;min-width:200px;margin:0 1% 15px 0;border-left:0;padding:5px 1%}
.post .post_author .buddy_status{vertical-align:middle;margin-top:-4px}
.post .post_author div.author_avatar{float:left;margin-right:3px}
.post.classic .post_author div.author_avatar{float:none;text-align:center;margin-bottom:8px}
.post .post_author div.author_avatar img{padding:5px;border:1px solid #ddd;background:#fff}
.post .post_author div.author_information{float:left;padding:6px 8px}
.post.classic .post_author div.author_information{float:none;padding:0;text-align:center}
.post .post_author div.author_statistics{float:right;font-size:11px;padding:3px 10px 3px 5px;color:#666;line-height:1.3}
.post.classic .post_author div.author_statistics{border-top:1px dotted #ccc;margin-bottom:5px;padding:6px 6px 3px;float:none}
.post .post_head{font-size:11px;padding-bottom:4px;border-bottom:1px dotted #ddd;margin-bottom:4px}
.post .post_head span.post_date{color:#868686;text-transform:uppercase;font-weight:500}
.post .post_head span.edited_post{font-size:11px;color:#A3A3A3}
a.button.closed_button{background:#751a1a!important}
.post .post_head span.edited_post a{color:#fff}
.post_body{font-size:14px;padding:12px 0}
.post.classic .post_content{float:left;width:79%;padding:0 1% 5px}
.post_content{padding:9px 10px 5px}
.post_content .signature{margin-top:5px;border-top:1px dotted #ddd;padding:10px 0 4px}
.post .post_meta{margin:4px 0;font-size:11px;color:#999}
.post .post_meta a:active,.post .post_meta a:hover,.post .post_meta a:link,.post .post_meta a:visited{color:#777}
.post_controls{clear:both;background:#f5f5f5;border-bottom:1px solid #ccc;padding:5px}
.postbit_buttons>a:active,.postbit_buttons>a:link,.postbit_buttons>a:visited{background-color:#212121;padding:7px 9px;border-radius:2px;color:#757575;font-weight:500;border:none;text-transform:uppercase;font-size:11.5px;display:inline-block}
.postbit_buttons a.postbit_find span{background-position:0 0}
.postbit_buttons a.postbit_reputation_add span{background-position:0 -20px}
.postbit_buttons a.postbit_email span{background-position:0 -40px}
.postbit_buttons a.postbit_website span{background-position:0 -60px}
.postbit_buttons a.postbit_pm span{background-position:0 -80px}
.postbit_buttons a.postbit_quote span{background-position:0 -100px}
.postbit_buttons a.postbit_multiquote span{background-position:0 -120px}
.postbit_buttons a.postbit_multiquote_on span{background-position:0 -140px}
.postbit_buttons a.postbit_edit span{background-position:0 -160px}
.postbit_buttons a.postbit_qdelete span{background-position:0 -180px}
.postbit_buttons a.postbit_qrestore span{background-position:0 -200px}
.postbit_buttons a.postbit_report span{background-position:0 -220px}
.postbit_buttons a.postbit_warn span{background-position:0 -240px}
.postbit_buttons a.postbit_purgespammer span{background-position:0 -540px}
.postbit_buttons a.postbit_reply_pm span{background-position:0 -260px}
.postbit_buttons a.postbit_reply_all span{background-position:0 -280px}
.postbit_buttons a.postbit_forward_pm span{background-position:0 -300px}
.postbit_buttons a.postbit_delete_pm span{background-position:0 -320px}
a.button:active,a.button:hover,a.button:link,a.button:visited{padding:10px 20px;cursor:pointer;background:#2b2b2b;border:none;border-radius:2px;display:inline-block;color:#aaa;font-weight:500;font-size:12px;box-shadow:0 1px 1px #00069}
a.button.small_button{font-size:13px;margin:0;padding:3px 6px}
a.button span{display:inline-block;font-size:13px;border-radius:1px;margin:0 2px}
a.button.new_thread_button span{background-position:0 -340px}
a.button.new_reply_button span{background-position:0 -360px}
a.button.closed_button span{background-position:0 -380px;color:#fff}
a.button.rate_user_button span{background-position:0 -400px}
a.button.add_buddy_button span{background-position:0 -440px}
a.button.remove_buddy_button span{background-position:0 -480px}
a.button.add_ignore_button span{background-position:0 -460px}
a.button.remove_ignore_button span{background-position:0 -500px}
a.button.report_user_button span{background-position:0 -520px}
.quick_jump{background:url(../../../images/jump.png) 0 no-repeat;width:13px;height:13px;padding-left:13px;margin-top:-3px;border:none}
.pollbar{background:url(../../../images/pollbar.png) top left repeat-x;border:1px solid #3f3f3f;height:10px}
.pollbar .percent{display:none}
.posticons_label{white-space:nowrap}
.ie6{position:absolute}
.ie6.top-right{right:auto;bottom:auto;left:expression((0 - jGrowl.offsetWidth + (document.documentElement.clientWidth ? document.documentElement.clientWidth:document.body.clientWidth) + (ignoreMe2=document.documentElement.scrollLeft ? document.documentElement.scrollLeft:document.body.scrollLeft)) + 'px')}
.ie6.top-left{left:expression((0 + (ignoreMe2=document.documentElement.scrollLeft ? document.documentElement.scrollLeft:document.body.scrollLeft)) + 'px')}
.ie6.bottom-left,.ie6.bottom-right{top:expression((0 - jGrowl.offsetHeight + (document.documentElement.clientHeight ? document.documentElement.clientHeight:document.body.clientHeight) + (ignoreMe=document.documentElement.scrollTop ? document.documentElement.scrollTop:document.body.scrollTop)) + 'px')}
.ie6.bottom-right{left:expression((0 - jGrowl.offsetWidth + (document.documentElement.clientWidth ? document.documentElement.clientWidth:document.body.clientWidth) + (ignoreMe2=document.documentElement.scrollLeft ? document.documentElement.scrollLeft:document.body.scrollLeft)) + 'px')}
.ie6.bottom-left,.ie6.center{left:expression((0 + (ignoreMe2=document.documentElement.scrollLeft ? document.documentElement.scrollLeft:document.body.scrollLeft)) + 'px')}
.ie6.center{top:expression((0 + (ignoreMe=document.documentElement.scrollTop ? document.documentElement.scrollTop:document.body.scrollTop)) + 'px');width:100%}
.jGrowl{z-index:9999;color:#fff;font-size:12px;position:fixed}
.jGrowl.top-left{left:0;top:0}
.jGrowl.top-right{right:0;top:0}
.jGrowl.bottom-left{left:0;bottom:0}
.jGrowl.bottom-right{right:0;bottom:0}
.jGrowl.center{top:0;width:50%;left:25%}
.jGrowl.center .jGrowl-closer,.jGrowl.center .jGrowl-notification{margin-left:auto;margin-right:auto}
.jGrowl-closer,.jGrowl-notification{opacity:.9;zoom:1;width:250px;margin:10px;display:none;word-break:break-all}
.jGrowl-notification{background-color:transparent;filter:alpha(Opacity=(.9*100));-ms-filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=(.9*100));padding:10px;text-align:left;-moz-border-radius:5px;-webkit-border-radius:5px;border-radius:5px}
.jGrowl .jGrowl-notification{min-height:40px}
.jGrowl-notification .ui-state-highlight,.jGrowl-notification .ui-widget-content .ui-state-highlight,.jGrowl-notification .ui-widget-header .ui-state-highlight{border:1px solid #000;background:#000;color:#fff}
.jGrowl-notification .jGrowl-header{font-weight:700;font-size:.85em}
.jGrowl-notification .jGrowl-close{background-color:transparent;color:inherit;border:none;z-index:99;float:right;font-weight:700;font-size:1em;cursor:pointer}
.jGrowl-closer{background-color:#000;filter:alpha(Opacity=(.9*100));-ms-filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=(.9*100));padding:4px 10px;border-radius:5px;cursor:pointer;font-size:.9em;font-weight:700;text-align:center}
.jGrowl-closer .ui-state-highlight,.jGrowl-closer .ui-widget-content .ui-state-highlight,.jGrowl-closer .ui-widget-header .ui-state-highlight{border:1px solid #000;background:#000;color:#fff}
.jGrowl .jGrowl-notification.jgrowl_success{background:#90ee90;border:1px solid #90ee90;color:#333}
.jGrowl .jGrowl-notification.jgrowl_error{background:red;border:1px solid red;color:#333}
.jGrowl .jGrowl-closer,.jGrowl .jGrowl-notification.jgrowl_process{background:#ff0;border:1px solid #ff0;color:#333}
@media print {
.jGrowl{display:none}
}
.blocker:before,.modal{display:inline-block;vertical-align:middle}
.blocker{position:fixed;top:0;right:0;bottom:0;left:0;width:100%;height:100%;overflow:auto;z-index:9999;padding:20px;box-sizing:border-box;background-color:#000;background-color:rgba(0,0,0,.75);text-align:center}
.modal,div.jqi{text-align:left}
.blocker:before{content:"";height:100%;margin-right:-.05em}
.blocker.behind{background-color:transparent}
.modal{background:#303030;position:relative;z-index:2;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;-webkit-border-radius:8px;-moz-border-radius:8px;-o-border-radius:8px;-ms-border-radius:8px;border-radius:8px;-webkit-box-shadow:0 0 10px #000;-moz-box-shadow:0 0 10px #000;-o-box-shadow:0 0 10px #000;-ms-box-shadow:0 0 10px #000;box-shadow:0 0 10px #000}
.modal a.close-modal{position:absolute;top:-12.5px;right:-12.5px;display:block;width:30px;height:30px;text-indent:-9999px;background:url(../../../images/close.png) no-repeat;z-index:100}
.modal-spinner{display:none;width:64px;height:64px;position:fixed;top:50%;left:50%;margin-right:-32px;margin-top:-32px;background:url(../../../images/spinner_big.gif) center center no-repeat;-webkit-border-radius:8px;-moz-border-radius:8px;-o-border-radius:8px;-ms-border-radius:8px;border-radius:8px}
.jqi .jqiarrow,.jqifade,div.jqi,div.jqi .jqiclose,div.jqi .jqisubstate{position:absolute}
.jqifade{background-color:#777}
iframe.jqifade{display:block;z-index:-1}
div.jqi{width:400px;max-width:90%;font-family:"Open Sans",sans-serif;background-color:#333;font-size:11px;box-shadow:0 1px 3px rgba(0,0,0,.06),0 1px 2px rgba(0,0,0,.12);border:1px solid #2A2A2A;border-radius:2px;-moz-border-radius:6px;padding:7px}
div.jqi .jqiclose{top:4px;right:-2px;width:18px;cursor:default;color:#bbb;font-weight:700}
div.jqi .jqititle{padding:5px 10px;font-size:16px;line-height:20px;border-bottom:solid 1px #eee}
div.jqi .jqimessage{padding:10px;line-height:20px;color:#fff;overflow:auto}
div.jqi .jqibuttonshide{display:none}
div.jqi .jqibuttons{text-align:right;margin:0 -7px -7px;border-top:solid 1px #3a3a3a;background-color:#242424;border-radius:0 0 6px 6px;-moz-border-radius:0 0 6px 6px;-webkit-border-radius:0 0 6px 6px}
div.jqi .jqibuttons button{margin:0;padding:15px 20px;background-color:transparent;border:none;color:#777;font-weight:700;font-size:12px}
div.jqi .jqibuttons button.jqidefaultbutton{color:#489afe}
div.jqi .jqibuttons button:focus,div.jqi .jqibuttons button:hover{color:#287ade;outline:0}
div.jqi .jqibuttons button[disabled]{color:#aaa}
.jqiwarning .jqi .jqibuttons{background-color:#b95656}
div.jqi .jqiparentstate::after{background-color:#777;opacity:.6;filter:alpha(opacity=60);content:'';position:absolute;top:0;left:0;bottom:0;right:0;border-radius:6px;-moz-border-radius:6px;-webkit-border-radius:6px}
.jqi .jqiarrowbr,.jqi .jqiarrowtr{right:10px}
div.jqi .jqisubstate{top:0;left:20%;width:60%;padding:7px;border:1px solid #eee;border-top:none;border-radius:0 0 6px 6px;-moz-border-radius:0 0 6px 6px;-webkit-border-radius:0 0 6px 6px}
div.jqi .jqisubstate .jqibuttons button{padding:10px 18px}
.button .closed_button{color:#FFF;background:#d63031}
.title_gid_92,.title_gid_95{-webkit-background-clip:text}
.title_gid_4{color:#f74545;font-weight:700;text-shadow:0 0 5px #090909}
.title_gid_12{color:#54FF9F;font-weight:700;text-shadow:1px 1px 10px #54FF9F}
.title_gid_3{color:#ed7a16;font-weight:700;text-shadow:0 0 5px #090909}
.title_gid_92{-webkit-text-fill-color:transparent;color:#FF512F;font-weight:700;text-shadow:0 0 5px #4e1336;background-image:url(https://cracked.to/images/bg1.gif),linear-gradient(90deg,#ed0d0d 0,#590e4b 100%,#fff)}
.title_gid_10,.title_gid_6,.title_gid_89,.title_gid_9,.title_gid_93,.title_gid_94{text-shadow:2px 2px 5px #000;font-weight:700}
.title_gid_9{color:#FFDF00}
.title_gid_6{color:#028e6b}
.title_gid_10{color:#c61aff}
.title_gid_93{color:#ff99b1}
.title_gid_94{color:#a868ed}
.title_gid_89{color:#CF2D9F}
.title_gid_95{text-shadow:.5px .5px 5px #ffd700;color:#ffd700;background-image:-webkit-linear-gradient(92deg,#f35626,#feab3a);-webkit-animation:randclanim 2s infinite linear}
.title_gid_96{color:#81ecec;font-weight:700;text-shadow:1px 1px 10px #000}
.title_gid_11{color:#4DD5D5;font-weight:700;text-shadow:0 0 5px #090909}
.title_gid_96{color:#D8185C;font-weight:700;text-shadow:0 0 3px #0e0101}
.title_gid_97{color:#8ed7d4;font-weight:700;text-shadow:0 0 5px #090909}
.title_gid_99{animation:rainbow 8s linear infinite;-o-animation:rainbow 8s linear infinite;-moz-animation:rainbow 8s linear infinite;-webkit-animation:rainbow 8s linear infinite;background-image:url(https://cracked.to/images/bg1.gif)}
.title_gid_100{text-shadow:0 2px 5px #000;background:url(/images/onyx-bg.gif);color:#de5c33;-webkit-animation:colorchange 4s infinite alternate}
.lp_button,.thread_marked{background:#007088;color:#fff}
.jqi .jqiarrow{height:0;width:0;line-height:0;font-size:0;border:10px solid transparent}
.jqi .jqiarrowtc,.jqi .jqiarrowtl,.jqi .jqiarrowtr{top:-20px;border-bottom-color:#fff}
.jqi .jqiarrowbc,.jqi .jqiarrowbl,.jqi .jqiarrowbr{bottom:-20px;border-top-color:#fff}
.jqi .jqiarrowtl{left:10px}
.jqi .jqiarrowtc{left:50%;margin-left:-10px}
.jqi .jqiarrowbl{left:10px}
.jqi .jqiarrowbc{left:50%;margin-left:-10px}
.jqi .jqiarrowlb,.jqi .jqiarrowlm,.jqi .jqiarrowlt{left:-20px;border-right-color:#fff}
.jqi .jqiarrowrb,.jqi .jqiarrowrm,.jqi .jqiarrowrt{right:-20px;border-left-color:#fff}
.jqi .jqiarrowlt{top:10px}
.jqi .jqiarrowlm{top:50%;margin-top:-10px}
.jqi .jqiarrowlb{bottom:10px}
.jqi .jqiarrowrt{top:10px}
.jqi .jqiarrowrm{top:50%;margin-top:-10px}
.jqi .jqiarrowrb{bottom:10px}
.latestpost{padding:2px 10px}
.lp_button{float:right;border-radius:3px;padding:3px 6px;border:1px solid #0d6477;cursor:pointer}
.thread_marked::before{content:'Important'}
.thread_marked{padding:2px 4px;border-radius:3px;font-size:11px;font-weight:700}
.latest_post_avatars{border-radius:5px;height:35px;width:35px;float:left;margin-right:6px}
.latest-post-uname{font-size:12px}
.latest-replies{border-radius:4px;background:#1a1919;float:right;padding:4px 8px}
.scrollToTop{visibility:hidden;opacity:0;opacity:1}
.scrollToTop.isActive{visibility:visible;opacity:1;z-index:100000}
.scrollToTop.unActive{visibility:hidden;opacity:0;z-index:100000}
.pagination + .gap{height:50px}
.conversation_block{margin:7px 0}
.align_left td:first-child{padding-right:15px!important}
.align_right td:first-child{padding-left:15px!important}
.align_options > span{padding:4px 5px;margin:5px 3px;display:inline-block;border-radius:2px;background-color:rgba(0,0,0,0.200)}
.align_right{direction:rtl}
.align_left td:nth-child(2){background-color:rgba(0,0,0,0.090)}
.align_right td:nth-child(2){text-align:right;direction:ltr;background-color:rgba(255,255,255,0.040)}
.pmspacebar{background-color:rgba(0,0,0,0.200);padding:2px 3px;width:80%;margin:4px auto}
.pmspacebar > span{padding:2px 3px;display:inline-block;text-align:left}
.qr_code{margin:10px auto;border-radius:4px;text-align:center;padding:10px;background-color:#fff;width:200px}
.qr_code > div{margin-top:10px}
.profilecard{font-family:Roboto,sans-serif;font-size:13px;color:#AAA;text-shadow:1px 1px 2px rgba(0,0,0,.18)}
.profilecard .profile_background{background-position:center center;background-size:cover;background-color:#282828}
.profilecard .profile_background > .overlay{background-color:rgba(0,0,0,0.300);position:relative;height:100px}
.profilecard .profile_background > .overlay > [class*="float_"]{position:relative;top:4px;right:8px}
.profilecard .profile_background > .overlay > .float_right > *{width:22px;height:22px;margin-left:3px;border-radius:100%;line-height:22px;padding:0;display:inline-block;color:#f5f5f5;text-align:center}
.profilecard .profile_background > .overlay > .float_right > * *{line-height:22px;font-size:90%}
.profilecard .profile_avatar{position:absolute;left:10px;bottom:-20px}
.profilecard .profile_avatar img{width:62px;height:62px}
.profilecard .profile_username{position:absolute;bottom:5px;left:80px;color:#f5f5f5}
.profilecard .profile_stats > li{text-align:center}
.profilecard .profile_stats{list-style:none;padding:0;margin:0;display:block;margin-top:20px;margin-bottom:10px}
.profilecard .profile_stats:after{content:"";clear:both;display:table}
.profilecard .profile_stats > li{display:inline-block;padding:5px 10px;text-align:center;box-sizing:border-box;width:20%;float:left}
.profilecard .profile_stats > li:not(:last-child){border-right:1px solid rgba(0,0,0,0.300)}
.profilecard .row{background:#212121;padding:7px 9px}
.profilecard .tcat{background-color:#1B1B1B;border-top:1px solid rgba(0,0,0,0.300);padding:8px;color:#AAA;padding:9px 12px}
.discord_profilecard{margin-top:10px;width:20px}
.profilecard .profile_background > .overlay > .float_left{right:0;left:8px}
.profilecard .profile_background > .overlay > [class*="float_"] > [data-field=""]{display:none}
.profilecard .profile_data{position:relative;padding-left:80px}
.profilecard .discord{background-color:#7289da;border-radius:2px;padding:2px 3px;color:#fff;text-align:center;display:inline-block;margin-left:-10px}
.profilecard [data-field=""]{display:none!important}
.discord_card{width:16px;height:16px;display:inline-block;vertical-align:middle;margin-right:3px}
.align_right .conv_message{text-align:left}
.label_vouches:before{content:"Receive alert when somebody leaves a vouch on your profile / thread?"}
.vouches_buttons{margin-top:8px}
.trow_vouch_positive{background-color:#223e1c}
.trow_vouch_negative{background-color:#452424}
.new_vouch_button{width:100%;box-sizing:border-box;display:block;text-align:center}
.vouch_sep{height:.5px;width:100%;margin:12px auto;height:0;border:0;border-top:1px dashed #fff;opacity:.1}
.vouch_avatar{width:30px;height:30px}
.no_padding{padding:0!important}
.fa,.far,.fas,.fab,.fal{font-size:11px}
.forum .icon i{font-size:24px}
#panel .upper i{color:#fff!important}






/* DVZ Shoutbox */
#shoutbox { margin-bottom: 10px; border: solid 2px rgba(0,0,0,0.1); }
#shoutbox .head { padding: 8px; }
#shoutbox.front .head { cursor: pointer; }
#shoutbox .head .right { float: right; margin: 0 -8px 0 0; font-size: 13px; }
#shoutbox .head .right a { padding: 8px; }
#shoutbox.collapsed .head { opacity: 0.6; }
#shoutbox.collapsed .body { display: none; }

#shoutbox .panel { border-top: solid 2px rgba(0,0,0,0.1); }
#shoutbox input.text { margin: 0; padding: 10px 8px; width: 100%; box-sizing: border-box; border: none; box-shadow: inset 0 2px 4px rgba(0,0,0,0.08); font-family: Arial, sans-serif; font-size: 12px; color: #000; }
#shoutbox .minposts, #shoutbox .blocked { padding: 6px; font-size: 11px; }
#shoutbox .panel.minposts { background: #FFFED8; color: #727250; }
#shoutbox .panel.blocked { background: #FCEFEF; color: #543A3A; }
#shoutbox .panel p { margin: 0; }

#shoutbox .window { border-top: solid 2px rgba(0,0,0,0.1); overflow-y: scroll; }
#shoutbox .data { display: table; width: 100%; border-top: solid 2px rgba(0,0,0,0.1); font-family: Arial, sans-serif; font-size: 12px; }
#shoutbox.front .data { border-top: none; }

#shoutbox .entry { display: table-row !important; width: 100%; transition: background-color 0.2s; }
#shoutbox .entry:nth-child(even) { background-color: rgba(0,0,0,0.01); }
#shoutbox .entry.new { background-color: rgba(255,255,100,0.1); }
#shoutbox .entry:target { background-color: rgba(50,200,255,0.1); }
#shoutbox .entry > div { border-bottom: dashed 1px rgba(0,0,0,0.05); }
#shoutbox .entry:last-child > div { border-bottom: none; }

#shoutbox .entry > div { display: table-cell; padding: 6px; }

#shoutbox .avatar { height: 22px; }
#shoutbox .avatar img { margin: 0 auto; vertical-align: middle; max-height: 20px; max-width: 20px; border: solid 1px rgba(255,255,255,0.1); box-shadow: 0 0 2px rgba(0,0,0,0.1); cursor: pointer; }
#shoutbox .user { border-right: solid 1px rgba(0,0,0,0.05); text-align: right; white-space: nowrap; }
#shoutbox .text { width: 100%; color: #555; word-break: break-all; word-wrap: break-word; }
#shoutbox .info { font-size: 11px; color: #AAA; white-space: nowrap; text-align: right; }
#shoutbox .entry.unread .info:before { display: inline-block; margin-right: 10px; height: 4px; width: 4px; content: ''; background: rgba(255,100,0,0.8); border-radius: 10px; vertical-align: middle; }
#shoutbox .info a { color: inherit; }
#shoutbox .mod { padding: 6px 8px; font-size: 9px; font-weight: bold; color: #AAA; text-decoration: none; }
#shoutbox .mod:nth-of-type(2) { margin-right: 5px; border-left: solid 1px rgba(0,0,0,0.1); }
#shoutbox  .ip { margin-right: 10px; color: #CECECE; }

		