.post-container .leechometer{background:#1b1b1b;padding:10px;border-radius:2px;width:150px;margin:15px auto;position:relative;overflow:hidden}
.post-container .leechometer .meter-status{position:absolute;top:0;left:0;height:100%}
.meter-status.green,.meter-status.green2{background:#017b01!important}
.meter-status.orange,.meter-status.orange2{background:#ff5821!important}
.meter-status.red,.meter-status.red2{background:#c0392b!important}
.meter-status.green{width:10%!important}
.meter-status.green2{width:20%!important}
.meter-status.orange{width:40%!important}
.meter-status.orange2{width:50%!important}
.meter-status.red{width:80%!important}
.meter-status.red2{width:100%!important}
		